.App {
  text-align: center;
  background-color: black;
  color: #61dafb;
  font-size: large;
  margin: 50px;
  border: coral solid 5px;
}
body{

  background-color: aqua;
}

img{
margin: 50px;
width: 500px;
height: 500px;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
